#main {
    
    width: 80%;
    height: 500px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    gap: 3%;
    margin-top: 50px;
}

#first {
    width: 68%;
    height: 90%;
    /* border: 1px solid black; */

}

#first>img {
    width: 100%;
    height: 100%;
}

.second {
    width: 33%;
    height: 90%;
    /* border: 1px solid black; */

}

.second>div {
    width: 100%;
    height: 47%;
    border: 1px solid rgb(143, 113, 113);
    /* margin-top: 10px; */
}

.second>div:nth-child(2) {
    margin-top: 20px;
}

.second>div>img {
    width: 100%;
    height: 100%;
}

.banner {
    width: 80%;
    height: 90px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
}

.banner>img {
    width: 100%;
    height: 100%;
}

#main  p {
    margin-left: 10%;
    margin-top: 2px;
}

#main span>a {
    text-decoration: none;
    color: orangered;
}

#threeBoxes {
    display: grid;
    grid-template-columns: repeat(3, 26%);
    grid-gap: 25px;
    justify-content: center;
    margin: 40px 0px;
}

#threeBoxes>div {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: whitesmoke;
}

#threeBoxes>div>img:nth-child(2) {
    /* padding-left: 0px; */
    width: 95%;
    height: 300px;
    margin: 2%;
}

#threeBoxes>div>img:nth-child(1) {
    width: 55%;
    height: 55px;
}

span {
    font-weight: bold;
}

#threeBoxes>div>p {
    margin-left: 0px;
}

h1 {
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: -10px;
}

.blog {
    margin-left: 50px;
    margin-right: 100px;
    display: block;
    height: 400px;
    border: 1px solid white;
    /* background-color: red; */
    text-align: center;

}


.blogsLI {
    display: inline-block;
    border: 1px solid black;
    height: 300px;
    width: 20%;
    margin: 0px 10px;
}

.img {
    width: 100%;
    height: 90%;
}

.img>img {
    width: 100%;
    height: 100%;
}

.blogsLI>button {
    width: 100%;
    height: 10%;

}

.btn {
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: white;
    color: black;
}



.banner>h2 {
    font-weight: bolder;
    font-size: 30px;

}

.banner>h4 {
    font-weight: bold;
    font-size: 20px;
}

.banner>p {
    color: black;
    font-size: 15px;
}

#fourBoxes {
    display: grid;
    grid-template-columns: repeat(4, 26%);
    grid-gap: 25px;
    justify-content: center;
    margin: 40px 0px;
    width: 80%;
    margin: auto;
}

#fourBoxes>div {
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: whitesmoke;
}

#fourBoxes>div>img {
    height: 300px;
    width: 98%;
}


 span {
    font-weight: bold;
}
 
 h4 {
    text-align: center;
    margin-bottom: -15px;
} 

#fiveBoxes {
    display: grid;
    grid-template-columns: repeat(4, 26%);
    grid-gap: 25px;
    justify-content: center;
    margin: 40px 0px;
    width: 80%;
    margin: auto;
}

#fiveBoxes>div {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: whitesmoke;
}

#fiveBoxes>div>img {
    height: 300px;
    width: 100%;
}


span {
    font-weight: bold;
}

h4 {
    text-align: center;
    margin-bottom: -15px;
}