<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>#AAAA {
        width: 1360px;
        height: 180px;
        margin: auto;
        display: inline-flex;
        margin-top: -40px;
        margin-left: -5px;
        background-color: rgba(233, 233, 233, 0.26);
        padding-top: 15px;
    }
    
    .BBBB {
        width: 350px;
        height: 230px;
        margin-top: 30px;
    }
    
    #CCCC {
        margin-left: 83px;
    }
    
    #DDDD {
        margin-left: 35px;
    }
    
    #EEEE {
        margin-left: 35px;
    }
    
    .FFFF {
        font-size: 12px;
        margin-left: 10px;
        font-weight: bold;
        margin-bottom: 20px;
        color: rgb(71, 71, 71);
        font-family: Verdana, sans-serif;
    }
    
    img {
        margin-left: 5px;
    }
    
    #lastDiv {
        width: 1350px;
        height: 30px;
        margin: auto;
        display: flex;
        background-color: rgba(233, 233, 233, 0.26);
    }
    
    #abcd {
        width: 300px;
        height: 80px;
        margin: auto;
    }
    
    #abcde {
        width: 700px;
        height: 80px;
        margin: auto;
    }
    
    .abcdef {
        margin-left: 10px;
        margin-top: -2px;
        font-family: Verdana, sans-serif;
        font-size: 13px;
        line-height: 1.6;
        color: rgb(95, 95, 95);
        padding-top: 5px;
    }
    
    hr {
        background-color: rgba(233, 233, 233, 0.26);
    }
    
    #firstDiv {
    width: 1360px;
    height: 250px;
    margin: auto;
    display: flex;
    margin-top: -9px;
    margin-left: -5px;
    background-color: rgba(233, 233, 233, 0.26);
  }
  
  #secondDiv {
    width: 1360px;
    height: 210px;
    margin: auto;
    display: flex;
    margin-left: -5px;
    background-color: rgba(233, 233, 233, 0.26);
    margin-bottom: 30px;
    
  }
  
  .childDiv {
    width: 350px;
    height: 230px;
    margin-top: 30px;
    
}

#pepperfry_logo {
    margin-left: 10px;
}

.p_element {
    margin-left: 10px;
    margin-top: -10px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    line-height: 1.6;
    color: rgb(128, 128, 128);
}

.abountHeading {
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: rgb(29, 29, 29);
}

#firstChildDiv {
    margin-left: 83px;
    /* line-height: 80px; */
  }
  #firstChildDiv>p,#secondChildDiv>p,  #thirdChildDiv>p {
  margin: 1px 0px;
}

#secondChildDiv {
    margin-left: 35px;
}

#thirdChildDiv {
    margin-left: 35px;
}

#fourthChildDiv {
    margin-left: 83px;
}

#fifthChildDiv {
    margin-left: 35px;
}

#sixthChildDiv {
    margin-left: 35px;
}
    
    
    
    
    </style>
    
    <title>Document</title>
</head>

<body>
    <div id="firstDiv">
        <div class="childDiv" id="firstChildDiv">
            <p><img id="pepperfry_logo" src="https://ii3.pepperfry.com/images/pflogo_footer_new.png" alt="pepperfry">
            </p>
            <p class="p_element">About Us</p>
            <p class="p_element">Our Blog</p>
            <p class="p_element">Careers</p>
            <p class="p_element">Corporate Governance</p>
            <p class="p_element">Pepperfry In The News</p>
            <p class="p_element">Find A Studio</p>
            <p class="p_element">Gift Cards</p>
            <p class="p_element">Brands</p>
            <p class="p_element">Customer Reviews</p>

        </div>
        <div class="childDiv" id="secondChildDiv">
            <p class="abountHeading">PARTNERS</p>
            <p class="p_element">Sell With Us</p>
            <p class="p_element">Become A Franchisee</p>
            <p class="p_element">Design For Us</p>
            <p class="p_element">Pepperfry Marketplace Policies</p>
            <p class="p_element">Login to Your Merchant Dashboard</p>
            <p class="p_element">Important: GST & You Corporate Enquaries</p>
        </div>
        <div class="childDiv" id="thirdChildDiv">
            <p class="abountHeading">NEED HELP?</p>
            <p class="p_element">Contact Us</p>
            <p class="p_element">Returns & Refund</p>
            <p class="p_element">Track Your Order</p>
            <p class="p_element">FAQs</p>
            <p class="p_element"> Buy on Phone</p>
        </div>

    </div>
    <div id="secondDiv">
        <div class="childDiv" id="fourthChildDiv">
            <p class="abountHeading">POPULAR CATEGORIES</p>
            <p class="p_element">Queen Size Beds, King Size Beds, Coffee Tables, Dining Sets, Recliners, Sofa cum Beds, Rocking Chairs, Cabinets, Book Shelves, TV Unit, Wardrobes, Outddoor Furniture, Bar Cabinets, Wall Shelves, Photo Frames, Bed Sheets, Mattresses, Table
                Cloth, Living Room Furniture, Study Tables, Dining Room Furniture, Office Furniture, Bed Room Furniture, Dining Table, Beds, Sofas</p>
        </div>
        <div class="childDiv" id="fifthChildDiv">
            <p class="abountHeading">POPULAR BRANDS</p>
            <p class="p_element">Mintwud, Woodsworth, CasaCraft, Amberville, Mudramark, Bohemiana, Primorati, Mollycoddle, Mangiamo, Clouddio, Spacewood, Durian, Star India, Adiko Systems, Crystal Furnitech, Springtek, Story@Home, Parin, Furnitech, Trevi Furniture, Peachtree,
                Durfi, Muebles Casa, Duroflex</p>
        </div>
        <div class="childDiv" id="sixthChildDiv">
            <p class="abountHeading">CITIES WE DELIVER TO</p>
            <p class="p_element">Bengaluru, Mumbai, Navi Mumbai, Delhi, Hyderabad, Pune, Chennai, Gurgaon, Kolkata, Noida, Goa, Ghaziabad, Ahmedabad, Coimbatore, Faridabad, Jaipur, Lucknow, Kochi, Visakhapatnam, Chandigarh, Vadodara, Nagpur, Thiruvananthapuram, Indore, Mysore,
                Bhopal, Surat, Jalandhar, Patna, Ludhiana, Nashik, Madurai, Kanpur, Aurangabad, Imphal, Hubli, Guwahati and many more
            </p>
        </div>
    </div>
</body>

<body>
    <hr>
    <div id="AAAA">
        <div class="BBBB" id="CCCC">
            <p class="FFFF">WE ACCEPT</p>
            <img src="https://ii1.pepperfry.com/images/web21-footer-visacard-logo.png" alt="">
        </div>
        <div class="BBBB" id="DDDD">
            <p class="FFFF">DOWNLOAD OUR APP</p>
            <img src="https://ii1.pepperfry.com/images/web21-footer-apple-appstore-logo.png" alt="">
            <img src="https://ii1.pepperfry.com/images/web21-footer-google-playstore-logo.png" alt="">
        </div>
        <div class="BBBB" id="EEEE">
            <p class="FFFF">FOLLOW US</p>
            <img src="https://ii1.pepperfry.com/images/web21-footer-facebook-logo.png" alt="">
            <img src="https://ii1.pepperfry.com/images/web21-footer-twitter-logo.png" alt="">
            <img src="https://ii1.pepperfry.com/images/web21-footer-youtube-logo.png" alt="">
            <img src="https://ii1.pepperfry.com/images/web21-footer-instagram-logo.png" alt="">
            

        </div>
    </div>
    <hr>
    <div id="lastDiv">
        <div id="abcd">
            <p class="abcdef">Buy In Bulk | Write A Testimonial</p>
        </div>
        <div id="abcde">
            <p class="abcdef">WhiteHat | Site Map | Terms of Use | Privacy Policy | Your Data & Security | Grievance Redressal </p>
        </div>
    </div>
</body>



</html>