#AAAA {
    width: 1360px;
    height: 180px;
    margin: auto;
    display: inline-flex;
    margin-top: -40px;
    margin-left: -5px;
    background-color: rgba(233, 233, 233, 0.26);
    padding-top: 15px;
}

.BBBB {
    width: 350px;
    height: 230px;
    margin-top: 30px;
}

#CCCC {
    margin-left: 83px;
}

#DDDD {
    margin-left: 35px;
}

#EEEE {
    margin-left: 35px;
}

.FFFF {
    font-size: 12px;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(71, 71, 71);
    font-family: Verdana, sans-serif;
}

img {
    margin-left: 5px;
}

#lastDiv {
    width: 1350px;
    height: 30px;
    margin: auto;
    display: flex;
    background-color: rgba(233, 233, 233, 0.26);
}

#abcd {
    width: 300px;
    height: 80px;
    margin: auto;
}

#abcde {
    width: 700px;
    height: 80px;
    margin: auto;
}

.abcdef {
    margin-left: 10px;
    margin-top: -2px;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: rgb(95, 95, 95);
    padding-top: 5px;
}

hr {
    background-color: rgba(233, 233, 233, 0.26);
}